<div id="scores" style="text-align: center">
  <h2>👑 Leaderboard</h2>
  <hr />
  <p>
    🥇 {{ sorted_times[0]['name'] }} - {{ sorted_times[0]['time'] }} secondes<br />
    🥈 {{ sorted_times[1]['name'] }} - {{ sorted_times[1]['time'] }} secondes<br />
    🥉 {{ sorted_times[2]['name'] }} - {{ sorted_times[2]['time'] }} secondes<br />
    🐢 {{ sorted_times[3]['name'] }} - {{ sorted_times[3]['time'] }} secondes<br />
    🐢 {{ sorted_times[4]['name'] }} - {{ sorted_times[4]['time'] }} secondes<br />
  </p>
</div>
